{% extends "page.html" %}

{% block subtitle %}Survey Kepuasan{% endblock %}

{% block breadcrumb_content %}
  {{ h.build_nav_icon('home.index', 'Home') }}
  <li class="active"><a href="">Survey Kepuasan</a></li>
{% endblock %}

{% block primary_content_inner %}
  <div class="module-content">
    <h1 class="page-heading">Survey Kepuasan Masyarakat</h1>
    <div class="cms-content p-4 bg-white rounded shadow-sm mt-4">
      <p>Tingkatkan kualitas layanan kami dengan memberikan kritik, saran, dan evaluasi atas pengalaman Anda ketika mengakses layanan dari portal Bengkulu Satu Data. Form survey akan segera hadir.</p>
    </div>
  </div>
{% endblock %}
